<!-- <html>
    <body class="bg">
        <mat-toolbar>
            <span>Tech Bin</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
    <div class=submitbutton>
        <button mat-raised-button color="warn" (click) = "link()" class="btn1">Link Account</button><br><br>
        <button mat-raised-button color="primary" (click) = "logOut()" class="btn2">Sign Out</button>
    </div>

    <div class = paragraph>
        <h3>
            Thank you for using the SMART DUSTBIN. For any credits you have to login through your google account.
        </h3>
    </div>
    </body>
</html> -->

<html>
  <body>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>TechBin</h1>
        <span class="menu-spacer"> </span>
        <div>
          <a mat-button> Profile </a>
          <a mat-button> LogOut </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item> Profile </a>
          <a mat-list-item> LogOut </a>
          <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item
            >Close</a
          >
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="bgg-image" style="height: 88vh;">
          <button mat-raised-button color="warn" class="button-place-1">
            Link Account
          </button>
          <br /><br />
          <button mat-raised-button color="primary" class="button-place-2">
            LogOut
          </button>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </body>
</html>
